p {
    color: gray;
}
.wrapBlk {
    background: black;
    color: white;
}
.wrapWht {
    background: #e4e4e4;
    color: black;
}
.mainSection::before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: url("../assets/imgs/logo-large-bg.png");
    background-repeat: no-repeat;
    opacity: 0.8;
}
.savingsBarSection {
    background: url("../assets/imgs/tachometer-low-opacity.png");
    background-repeat: no-repeat; 
    z-index: -1; 
    background-position: top center;
    width: 100%;
}
.tachSection {
    background: linear-gradient(to bottom,
    #e4e4e4 10%, black 10% 30%, #e4e4e4 30% 100%); 
    margin-bottom: 5rem;
    position: relative;
}
.tachSection::before {
    content: " ";
    position: absolute;
    border: 3px solid #a1a1a1;
    height: 84%;
    top: 8.5rem;
    left: 0;
    right: 0;
    margin: 1.5rem;
}
.dotsChartSection {
    border: none;
}
.savingsBarSection p {
    font-family: 'Crimson', Times;
}

@media screen and (min-width: 992px) {
    .tachSection {
        background: linear-gradient(to bottom,
        #e4e4e4 30%, black 20% 70%, #e4e4e4 70% 100%);
        margin-bottom: 0px;
    }
    .tachSection::before {
        content: " ";
        position: absolute;
        border: 3px solid #a1a1a1;
        height: 115%;
        top: -7rem;
        left: 50%;
        right: 0;
        margin: 4rem;
        width: 55%;
        z-index: 0;
    }    
    .tachometer {
        align-items: center;
        justify-content: center;
        display: flex;
    }    
    .dotsChart {
        align-items: center;
        justify-content: center;
        display: flex;
    }   
    .savingsBarSection {
        background-position: center right;
    }
    .improveScoreSection {
        background: black;
        background: url("../assets/imgs/improve-score-background.png") black;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
    }    
    .textRight {
        text-align: right;
    }
    .crossIconExt {
        width: 125%;
        height: 57px;
        position: absolute;
        left: -6rem;
        top: 12.5rem;
    }
    .retirementSunset {
        margin: 2rem;
    }   
    // .tachSection::after {
    //     content: "";
    //     position: absolute;
    //     background: black;
    //     height: 100%;
    //     width: 100%;
    //     left: 90%;
    //     max-width: 250px;
    //     top: 0;
    // }

}