p {
    color: gray;
}
.wrapBlk {
    background: black;
    color: white;
}
.wrapWht {
    background: #e4e4e4;
    color: black;
}
.mainSection::before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: url("../assets/imgs/logo-large-bg.png");
    background-repeat: no-repeat;
    opacity: 0.4;
}
.tachSection {
    background: linear-gradient(to bottom,
    #e4e4e4 10%, black 10% 30%, #e4e4e4 30% 100%); 
    margin-bottom: 5rem;
}
.savingsBarSection p {
    font-family: 'Crimson', Times;
}

@media screen and (min-width: 992px) {
    .tachSection {
        background: linear-gradient(to bottom,
        white 30%, black 20% 70%, white 70% 100%);
        margin-bottom: 0px;
    }
    .tachometer {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .dotsChart {
        align-items: center;
        justify-content: center;
        display: flex;
    }    
}