@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");

.wrapNavy {
  background: #05204a;
  color: white;
  position: relative;
}

.wrapWht {
  background: #e4e4e4;
  color: black;
}

.mainSection:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: url("../../assets/imgs/newport-beach.jpg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
}

.mainSection .container {
  position: relative;
  z-index: 999;
}

.mainSection .container::after {
  content: " ";
  background: url("../../assets/imgs/corner-cap.png") no-repeat;
  height: 200px;
  width: 50%;
  top: 2rem;
  right: 2rem;
  position: absolute;
  z-index: 1;
}

.mainImg {
  z-index: 999;
}

.mainImg img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.retirementWorthLivingSection .container {
  position: relative;
  z-index: 999;
}
.retirementWorthLivingSection img,
.retirementWorthLivingSection p,
.retirementWorthLivingSection h1,
.retirementWorthLivingSection h1 {
  z-index: 999;
  position: relative;
}

.worthLivingMainImg img {
  margin: 2rem;
  width: 100%;
}

.worthLivingImages {
  margin-top: 1.5rem;
}

.worthLivingImages div:nth-child(3) {
  margin-bottom: 1.5rem;
}


@media screen and (min-width: 992px) {
  h1.large {
    font-size: 4rem;
  }

  .mainSection .container {
    padding: 1.5rem 0rem;
  }

  .mainSection .container::after {
    content: " ";
    background: url("../../assets/imgs/corner-cap.png") no-repeat;
    height: 200px;
    width: 50%;
    top: 1.5rem;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  .crossIcon {
    margin-top: 2rem;
  }

  .crossIconExt {
    height: 57px;
    position: absolute;
    left: -6rem;
    top: 4rem;
  }

  .worthLivingMainImg img {
    margin: 2rem;
  }

  .worthLivingImages {
    margin-top: 2rem;
  }

  .workingWithClients {
    align-items: center;
    justify-content: center;
    display: flex;
} 
  
}
