.navbar {
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    background-color: transparent;    
    z-index: 999;
}
.brand{
    justify-content: flex-start;
    cursor: pointer;    
}
.brand img {
    height: 50px;
    width: auto;
    justify-content: flex-start;
}
.desktopLogo {
    display: none;
}
.mobileLogo img{
    flex: 2;
}
.navMenu {
    display: flex;
    flex-direction: column;
    margin-left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: transparent;
    padding: 0;        
}
.navMenu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    list-style: none;
    background-color: rgba(0, 0, 0, .9);
}
.navLinks {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: white;
    text-decoration: none;
}
.navLinks:hover {
    border-radius: 0;
}
.menuIcon {

 
    font-size: 1.8rem;
    cursor: pointer;
   
}
.faBars{
    color: black;
}
.faTimes {
    font-size: 24px;
    color: black;
}

// applied css rules for screen width over 992px

@media screen and (min-width: 992px) {
    .navbar {
        background-color: transparent;
        justify-content: center;
        width: 70vw;
    }
    .navMenu {
        display: flex;
        flex-direction: row;
        left: 0;
        position: relative;
        opacity: 1;
        transition: all 0.5s ease;
        background-color: transparent;
        padding: 0;       
    }    
    .navLinks {
        color: white;
        padding: 0.5rem 1rem;
    }
    .desktopLogo {
        display: block;
    }
    .mobileLogo {
        display: none;
    }
    .menuIcon {
        display:none;
    }    
    .brand {
        
    }
}

