.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 2rem;
    height: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 650px;
    border-radius: 6px;
    max-height: 960px;
    min-height: 400px;
    background-color: white;
    margin: 0 auto;
}

