@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    margin: 0;
    padding: 0; 
    font-family: helvetica;
    color: #202020;
    background-color: #e4e4e4;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -mox-osx-smoothing: grayscale;
    font-size: 16px;
    background-position: top center;    
}
h1, h2, h3, h4, h5 {
    font-family: Crimson, Times;
    letter-spacing: 0.04rem;
    font-weight: 500;
    line-height: 1em;
    margin: .5em 0em;
}
h1 {
    font-size: 2em;
}
p {
    line-height: 1.5rem;
}
.paragraphBreak::before {
    content: '\a';
    white-space: pre;
}
button {
    background: white;
    padding: .8rem 1rem;
    border: none;
    position: relative;
    z-index: 999;
    border: 1px solid white;
}
button:hover {
    background: transparent;
    transition: all 0.5s ease;
    z-index: 999;
    color: white;
    border: 1px solid white;
    
}
.learnMoreBtn {
    border: none;
    background: transparent; 
    color: white;
    position: relative;
    z-index: 999;
}
.learnMoreBtn:hover {
    border: 1px solid white;
    position: absolute;
    z-index: 999;
    color: black;
    background: white;
}
.column {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }
    .column {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .row{
        padding: 4rem 0rem;
    }    
}